<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
        bootstrap="phpunit/bootstrap.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="core">
            <directory>phpunit/Slova/Core</directory>
        </testsuite>
        <testsuite name="dict">
            <directory>phpunit/Slova/Dict</directory>
        </testsuite>
        <testsuite name="panel">
            <directory>phpunit/Slova/Panel</directory>
        </testsuite>
    </testsuites>
</phpunit>
