.results {
  padding:10px 0 0 0;

  .article {padding:10px 6px; border-bottom: 1px solid @border-color;
    &:last-child {border-bottom: none;}
    p {margin:0 0 10px 0;}
    p:last-child {margin:0;}
    .title {font-size:1.5em;}
    [data-type=meta] {font-size:0.8em; font-style: italic;}
  }
}
